<div class="demo-container demo-layout-transparent">
  <mdl-layout #mdlLayout1="mdlLayout">
    <mdl-layout-header mdl-layout-header-transparent>
      <mdl-layout-header-row>
        <mdl-layout-title>DDatos</mdl-layout-title>
        <mdl-layout-spacer></mdl-layout-spacer>
        <nav class="mdl-navigation">
          <a *ngFor="let option of options;" class="mdl-navigation__link" [routerLink]="[option.url]">{{option.title}}</a>
        </nav>
      </mdl-layout-header-row>
    </mdl-layout-header>
    <mdl-layout-drawer>
      <mdl-layout-title>DDatos</mdl-layout-title>
      <nav class="mdl-navigation">
        <a *ngFor="let option of options;" class="mdl-navigation__link" [routerLink]="[option.url]">{{option.title}}</a>
      </nav>
    </mdl-layout-drawer>
    <mdl-layout-content>
      <router-outlet></router-outlet>
    </mdl-layout-content>
  </mdl-layout>
</div>
